.shop-banner {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  .shop-banner .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .shop-banner .banner-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .shop-banner .banner-text {
    max-width: 70%;
    
  }
  
  .shop-banner h3 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .shop-banner .orange-text {
    color: orange;
  }
  
  .shop-banner .sale-percent {
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .shop-banner .sale-percent span {
    display: block;
    font-size: 30px;
  }
  
  .shop-banner .cart-btn {
    background-color: #ff8400;
    color: #fff;

    padding: 10px 20px;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 15px;
  }
  .cart-btn:hover {
    background-color: #051922;
    border:#051922;
    color: #f28123;
  }
  
  .shop-banner .cart-btn.btn-lg {
    font-size: 18px;
    padding: 15px 30px;
  }
  
  .shop-banner .banner-logo {
    text-align: center;
    justify-content: space-around;
  }
  
  .shop-banner .banner-logo .logo {
    max-width: 400px; /* Adjust the size as needed */
    height: auto;
  }

  